{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="row gx-5">	
    <legend class="text-center">Конфигурационные файлы для врача: {{ doctor }}</legend>
  </div>  
  <form action="" method="post">
    {{ form.csrf_token() }}
    <div class="form-group p-3 border bg-light">
      {{ form.center_name.label }}
      {{ form.center_name(class_="form-select form-select-lg mb-3") }}
	    <div class="alert alert-primary" role="alert">
  		  Если это будет первым подключением врача к данному диагностическому центру,
		    необходимо установить флаг "Зарегистрировать учетную запись врача на оборудовании ДЦ" 
	    </div>
      {{ form.create_accaunt_on_host(class_="form-check-input") }}
      {{ form.create_accaunt_on_host.label(class_="form-check-label") }}
    </div>
	  <div class="d-grid gap-2 p-3">
      {{ form.submit(class_="btn-lg btn-primary btn-block") }}
	  </div>
  </form>
  <a href = "/" class="link-secondary">К списку врачей</a>  
</div>
{% endblock %}
