{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-12">
  <h1> Список врачей</h1>
  <div class="row border bg-light">
    <div class="col-8 p-3">	  
    	
    </div>
    <div class="col-4 p-3" >
	<a href=/new class="btn btn-primary" >Новая учетная запись врача</a>
    </div>		    
  </div>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск по фамилии" title="Введите фамилию">  

<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Фамилия врача</th>
      <th scope="col">Локальный адрес</th>
      <th scope="col">AETitle</th>
      <th scope="col">Файл аутентификации</th>
    </tr>
  </thead>
  <tbody>
  {% for accaunt in accaunt_list%}
    <tr>
      <td><a href=/config/{{ accaunt.name }}>{{ accaunt.family }}</a></td>
      <td>172.16.134.{{ accaunt.user_id }}</td>
      <td>{{ accaunt.aetitle }}</td>
      <td><a href=/auth/{{ accaunt.name }}>usr.cfg</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  </script>
{% endblock %}
