{% extends 'base.html' %}
{% block content %}
<div class="row ">
    {% with messages = get_flashed_messages() %}
        {% if messages %}     
            {% for message in messages %}
                <div class="alert alert-danger text-center">
                {{ message }}
                </div>
            {% endfor %}
        {% endif%}    
    {% endwith %}      
    <div class="col"></div>
    <div class="col-3">
        <form action="" method="post">     
            {{ form.csrf_token() }}      
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class_="form-control") }}

                {{ form.password.label }}
                {{ form.password(class_="form-control") }}
            </div>
            <div class="d-grid gap-2 p-3">
                {{ form.submit(class_="btn btn-primary") }}
            </div>    
        </form>
    </div>
    
    <div class="col"></div>
    
            
</div>
{% endblock %}
