{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h3 class="text-center"> Новый пользователь </h3>
    <div class="col-3"></div>
    <div class="col-6">
        <form action="" method="post">
            {{ form.csrf_token() }}

            <div class="mb-3">
                {{ form.username.label }}
                {{ form.username(class_="form-control") }}
            </div>

            <div class="mb-3">        
                {{ form.password.label }}
                {{ form.password(class_="form-control") }}
            </div> 

            <div class="mb-3">    
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class_="form-control") }}
            </div> 

            <div class="mb-3 form-check">  
                {{ form.is_admin(class_ = "form-check-input") }}
                {{ form.is_admin.label( class_ = "form-check-label") }}
            </div>
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}  
                <div class="text-danger text-center" >
                    {{ message }}
                </div>
              {% endfor %}            
            {% endif %}
            {% endwith %}

            <div class="d-grid gap-2 p-3">
                {{ form.submit(class_="btn btn-primary") }}
            </div>    
        </form>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}
