{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="row gx-5">	
      <legend class="text-center">Новая учетная запись врача</legend>
    </div>  
    <form action="" method="post">
        {{ form.csrf_token() }}
        <div class="form-group border bg-light">
            {{ form.accaunt_name.label }}
            {{ form.accaunt_name(class_="form-control mb-3") }}
            {% for field, errors in form.errors.items() %}
                <small class="form-text text-danger">
                    {{ ', '.join(errors) }}
                </small>
            {% endfor %}
            <div class="alert alert-primary" role="alert">
                Если у врача уже установлено ПО для обработки DICOM изображений и
                настроен AEtitle, то укажите его в поле "AETITLE". В противном случае
                оставте поле пустыми и AETitle будет сгенерирован автоматически 
            </div>
                {{ form.aetitle.label }}
                {{ form.aetitle(class_="form-control") }}
        </div>    
        <div class="d-grid gap-2 p-3">
            {{ form.submit(class_="btn-lg btn-primary btn-block") }}
        </div>
        </form>
        <a href = "/" class="link-secondary">К списку врачей</a>
</div>
  {% endblock %}