{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-12">
  <h1> Инженеры ДЦ</h1>
    <div class="row bg-light">
    	

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Учетная запись пользователя</th>
            <th scope="col">Администрирование</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for accaunt in list%}
          <tr>
            <td>{{ accaunt.name }}</td>
            <td>{{ accaunt.is_admin }}</td>
            <td><a href="{{ url_for('users.delete_user', user=accaunt.name) }}">Удалить</a> </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}